# Ignorar caches e arquivos compilados do Python
*.py[cod]
*.pyo
*.pyd
*.pyc
# VSCode
.vscode/
# Jupyter Notebooks
.ipynb_checkpoints/
# OS files
.DS_Store
Thumbs.db
# Env
.env
.venv/
venv/
truco/__pycache__/main.cpython-311.pyc
truco/__pycache__/*.pyc
truco/**/*.pyc
truco/__pycache__/main.cpython-311.pyc
truco/__pycache__/main.cpython-311.pyc
