# Ignorar caches e arquivos compilados do Python
*.py[cod]
*.pyo
*.pyd
*.pyc
# VSCode
.vscode/
# Jupyter Notebooks
.ipynb_checkpoints/
# OS files
.DS_Store
Thumbs.db
# Env
.env
.venv/
venv/
truco/__pycache__/*.pyc
truco/**/*.pyc
truco/__pycache__/main.cpython-311.pyc
truco/bots/__pycache__/bot.cpython-311.pyc
truco/bots/__pycache__/cbr_updated.cpython-311.pyc
truco/core/__pycache__/game_controller.cpython-311.pyc
truco/core/__pycache__/rules.cpython-311.pyc
truco/models/__pycache__/modelo_registro.cpython-311.pyc
